body{
    background-image: linear-gradient(#4242f0, #6633ff);
    padding: 0;
    margin-bottom:50px;
}
.margin-left{
    margin-left: 80px !important;
}

#footer {
    position: static;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    flex-shrink: 0;
}
